<title> <%= title %></title>

<style>
  .formats-list li {
    margin: 10px;
  }

.formats-list a {
  display: inline-block;
  padding: 10px;
  background-color: #009688;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.formats-list a:hover {
  background-color: #00796b;
}

.formats-list a i {
  margin-right: 10px;
}

</style>

<section class="section">
    <div>
        <% if (message) { %>
            <div class="popup-form" id="myForm">
              <div class="popup-content">
                <div class="close-button" onclick="closeForm()">&times;</div>
                <h2> <%= message %></h2>
              </div>
            </div>
        <% } %>
    </div>
    <div class="container">
     <h1 class="title has-text-centered">YouTube Video Downloader</h1>
     <div class="columns">
      <div class="column">
       <form action="/convert-video" method="POST">
        <div class="field has-addons">
         <div class="control is-expanded">
          <input class="input" type="text" placeholder="Enter YouTube video link" name="url" required>
         </div>
         <div class="control">
            <button class="button is-primary" type="submit">
                <span class="icon">
                  <i class="fas fa-file-video"></i>
                </span>
                <span>Convert to Video</span>
            </button>
         </div>
        </div>
       </form>
       <br>
       <% if (video) { %>
        <h2><%= video.title %></h2>
        <img src="<%= video.thumbnail %>" alt="<%= video.title %>" />
        <ul class="formats-list">
          <% video.formats.sort((a,b) => b.height - a.height).forEach(format => { %>
            <li>
              <a href="<%= format.url %>">
                <i class="fas fa-download"></i> Download <%= format.height %>p <%= format.container.toUpperCase() %> 
              </a>
            </li>
          <% }); %>
        </ul>
      <% } %>
      </div>
     </div>
    </div>
</section>
